/* Utilities */
/* Colors */
header {
  background-color: #222;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  border-top: 0.4em solid #ffd966; }
  header nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center; }
    header nav a {
      text-decoration: none;
      color: #fff;
      font-size: 1.8rem;
      padding: 1rem; }
      header nav a:hover, header nav a:active, header nav a:focus {
        color: #ffd966; }
    header nav .logo {
      font-weight: 600;
      font-size: 2.2rem; }
    header nav ul {
      display: -webkit-flex;
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%; }
      header nav ul li {
        margin: 0;
        flex-grow: 1; }
      header nav ul a {
        display: block;
        text-align: center; }
        header nav ul a:hover, header nav ul a:active, header nav ul a:focus {
          background-color: #3c3c3c;
          border-bottom: 0.2em solid #3c3c3c; }
      header nav ul .active {
        border-bottom: 0.2em solid #ffd966;
        color: #ffd966; }
        header nav ul .active:hover, header nav ul .active:active, header nav ul .active:focus {
          border-bottom: 0.2em solid #ffd966; }
  header + .container {
    margin-top: 15rem; }

@media (min-width: 550px) {
  header nav {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    header nav ul {
      width: auto; }
  header + .container {
    margin-top: 10rem; } }
footer {
  background: #222;
  color: #ddd;
  padding-top: 3.6rem; }
  footer h5 {
    font-weight: 600; }
  footer a {
    color: #ddd; }
    footer a:hover, footer a:active, footer a:focus {
      color: #ffd966; }

#footer-links {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around; }

#sitemap ul {
  list-style-type: square; }

#credits {
  font-size: 1.2rem; }
  #credits i {
    color: #a12d26; }

.hero {
  background-image: linear-gradient(#888, #888), url("../img/maren_headshot.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  background-origin: content-box;
  padding-top: 8rem; }

#hero-flex {
  padding: 8rem 0 6rem 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }
  #hero-flex .button {
    width: 100%;
    border: 1px solid #777; }

#headshot {
  display: none; }

#hero-text {
  width: 100%; }

#intro-headings {
  color: #fff; }
  #intro-headings h1 {
    font-weight: 800; }

.features {
  padding: 3rem 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .features div {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .features div i {
      margin-right: 2rem; }

/* Media Queries */
/* Phablet (sm) */
/*Tablet (md) */
@media (min-width: 550px) {
  #hero {
    background-image: linear-gradient(#888, #888), url("https://images.unsplash.com/photo-1467049812154-f61d5f252ff0?dpr=1&auto=format&fit=crop&w=1012&h=&q=60&cs=tinysrgb&crop=");
    padding-top: 6rem; }

  #hero-flex {
    -webkit-justify-content: space-between;
    justify-content: space-between; }

  #headshot {
    display: block;
    width: 45%; }
    #headshot img {
      width: 100%;
      border-radius: 100%;
      padding: 0.6rem;
      border: 0.6rem solid #ffd966; }

  #hero-text {
    width: 45%; }

  #features {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    #features div {
      -webkit-flex-basis: 45%;
      flex-basis: 45%; } }
/* Desktop (lg) */
/* Desktop HD (xlg) */
@media (min-width: 1000px) {
  /* no styles yet */ }
@media (min-width: 1200px) {
  /* no styles yet */ }

/*# sourceMappingURL=index.css.map */
