/* Utilities */
/* Colors */
header {
  background-color: #222;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  border-top: 0.4em solid #ffd966; }
  header nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center; }
    header nav a {
      text-decoration: none;
      color: #fff;
      font-size: 1.8rem;
      padding: 1rem; }
      header nav a:hover, header nav a:active, header nav a:focus {
        color: #ffd966; }
    header nav .logo {
      font-weight: 600;
      font-size: 2.2rem; }
    header nav ul {
      display: -webkit-flex;
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%; }
      header nav ul li {
        margin: 0;
        flex-grow: 1; }
      header nav ul a {
        display: block;
        text-align: center;
        border-bottom: 0.2em solid #222; }
        header nav ul a:hover, header nav ul a:active, header nav ul a:focus {
          background-color: #3c3c3c;
          border-bottom: 0.2em solid #3c3c3c; }
      header nav ul .active {
        border-bottom: 0.2em solid #ffd966;
        color: #ffd966; }
        header nav ul .active:hover, header nav ul .active:active, header nav ul .active:focus {
          border-bottom: 0.2em solid #ffd966; }
  header + .container {
    margin-top: 15rem; }

@media (min-width: 550px) {
  header nav {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    header nav ul {
      width: auto; }
  header + .container {
    margin-top: 10rem; } }
footer {
  background: #222;
  color: #ddd;
  padding-top: 2.0rem; }
  footer a {
    color: #ddd; }
    footer a:hover, footer a:active, footer a:focus {
      color: #ffd966; }
  footer .container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column; }

.button {
  margin-bottom: 2.0rem;
  width: 100%; }

#footer-links {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: space-around;
  justify-content: space-around; }
  #footer-links ul {
    list-style: none;
    margin-bottom: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly; }
    #footer-links ul li {
      display: inline; }

#credits {
  font-size: 1.0rem;
  text-align: center; }
  #credits i {
    color: #a12d26; }

/* Media Queries */
/* Phablet (sm) */
/*Tablet (md) */
@media (min-width: 550px) {
  footer .container {
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    footer .container .button {
      flex-grow: 1;
      max-width: 50%; }

  #footer-links {
    flex-grow: 1; }
    #footer-links #contact, #footer-links #sitemap {
      width: 100%; } }
/* Desktop (lg) */
@media (min-width: 750px) {
  #footer-links {
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: space-around;
    justify-content: space-around; } }
/* Desktop HD (xlg) */
/* Gradients */
.catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-template-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-gap: 10px 10px;
  grid-gap: 10px 10px;
  margin: 24px 0; }

.card {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18); }
  .card a {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: center;
    align-items: center; }

.card-banner {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(#37ecba, #72afd3);
  position: relative; }
  .card-banner i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.card-text h2 {
  font-size: 2.4rem;
  margin: 0 0 0 1.5rem; }

/* Media Queries */
/* Phablet (sm) */
/*Tablet (md) */
@media (min-width: 550px) {
  .catalog {
    -ms-grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; } }
/* Desktop (lg) */
/* Desktop HD (xlg) */
/* Really big (mega) */

/*# sourceMappingURL=portfolio.css.map */
