/* Utilities */
@mixin hover-state {
  &:hover, &:active, &:focus {
    @content;
  }
}

@mixin typography($size, $height, $space) {
  font-size: $size;
  line-height: $height;
  letter-spacing: $space;
}

/* Colors */
$yellow: #ffd966;
$blue-lt: #33c3f0;
$blue-md: #1eaedb;
$blue-dk: #0fa0ce;
