footer {
  background: #222;
  color: #ddd;
  padding-top: 3.6rem;
  h5 {
    font-weight: 600;
  }
  a {
    color: #ddd;
    @include hover-state {
      color: $yellow;
    }
  }
}

#footer-links {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

#sitemap {
  ul {
    list-style-type: square;
  }
}

#credits {
  font-size: 1.2rem;
  i {
    color: $red-dk;
  }
}
