@import 'common';

header {
  background-color: #222;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  border-top: 0.4em solid $yellow;
  nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    a {
      text-decoration: none;
      color: #fff;
      font-size: 1.8rem;
      padding: 1rem;
      @include hover-state {
        color: $yellow;
      }
    }
    .logo {
      font-weight: 600;
      font-size: 2.2rem;
    }
    ul {
      display: -webkit-flex;
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      li {
        margin: 0;
        flex-grow: 1;
      }
      a {
        display: block;
        text-align: center;
        border-bottom: 0.2em solid #222;
        @include hover-state {
          background-color: lighten(#222, 10%);
          border-bottom: 0.2em solid lighten(#222, 10%);
        }
      }
      .active {
        border-bottom: 0.2em solid $yellow;
        color: $yellow;
        @include hover-state {
          border-bottom: 0.2em solid $yellow;
        }
      }
    }
  }
  & + .container {
    margin-top: 15rem;
  }
}

@media (min-width: 550px) {
  header {
    nav {
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      ul {
        width: auto;
      }
    }
    & + .container {
      margin-top: 10rem;
    }
  }
}
