$accentColor: rgba(255, 217, 102, 1);
@mixin hover-state {
  &:hover, &:active, &:focus {
    @content;
  }
}

header {
  background-color: #222;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    a {
      text-decoration: none;
      color: #fff;
      font-size: 1.8rem;
      padding: 1rem;
      @include hover-state {
        color: $accentColor;
      }
    }
    .logo {
      font-weight: 600;
    }
    ul {
      display: -webkit-flex;
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      li {
        margin: 0;
        flex-grow: 1;
      }
      a {
        display: block;
        text-align: center;
        @include hover-state {
          background-color: #555;
          color: #fff;
        }
        .active {
          background-color: $accentColor;
          color: #555;
        }
      }
    }
  }
  & + .container {
    margin-top: 12rem;
  }
}

#headshot {
  border-radius: 100%;
}

//--- Responsive mixins ---//
/* All responsive mixins called in media-queries.scss */

@mixin header-lg() {
  header {
    nav {
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      ul {
        width: auto;
      }
    }
  }
}
