@import 'header';
@import 'footer';

.hero {
  background-image: linear-gradient(#888, #888), url('../img/maren_headshot.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  background-origin: content-box;
  padding-top: 8rem;
}

#hero-flex {
  padding: 8rem 0 6rem 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  .button {
    width: 100%;
    border: 1px solid $yellow;
    box-shadow: 2px 2px 0 2px $yellow-dk
  }
}

#headshot {
  display: none;
}

#hero-text {
  width: 100%;
}

#intro-headings {
  color: #fff;
  h1 {
    font-weight: 800;
  }
}

.features {
  padding: 3rem 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  div {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    i {
      margin-right: 2rem;
    }
  }
}

/* Media Queries */
/* Phablet (sm) */
@media (min-width: 400px) {
}

/*Tablet (md) */
@media (min-width: 550px) {
  .hero {
    background-image: linear-gradient(#888, #888), url("https://images.unsplash.com/photo-1467049812154-f61d5f252ff0?dpr=1&auto=format&fit=crop&w=1012&h=&q=60&cs=tinysrgb&crop=");
    padding-top: 6rem;
  }

  #hero-flex {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  #headshot {
    display: block;
    width: 45%;
    img {
      width: 100%;
      border-radius: 100%;
      padding: 0.6rem;
      border: 0.6rem solid $yellow;
    }
  }

  #hero-text {
    width: 45%;
  }

  .features {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    div {
      -webkit-flex-basis: 45%;
      flex-basis: 45%;
    }
  }
}

/* Desktop (lg) */
@media (min-width: 750px) {
}

/* Desktop HD (xlg) */
@media (min-width: 1000px) {
  /* no styles yet */
}

// Really big (mega) //
@media (min-width: 1200px) {
  /* no styles yet */
}
