@import 'header';
@import 'footer';

/* Gradients */
$bluegreen: linear-gradient(#37ecba, #72afd3);
$greenyellow: linear-gradient(#16a085, #f4d03f);

.catalog {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 24px 0;
}

.card {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
  a {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: center;
    align-items: center;
  }
}

.card-banner {
  width: 50px;
  height: 50px;
  background-image: $bluegreen;
  position: relative;
  i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.card-text {
  h2 {
    font-size: 2.4rem;
    margin: 0 0 0 1.5rem;
  }
}

/* Media Queries */
/* Phablet (sm) */
@media (min-width: 400px) {
}

/*Tablet (md) */
@media (min-width: 550px) {
}

/* Desktop (lg) */
@media (min-width: 750px) {
}

/* Desktop HD (xlg) */
@media (min-width: 1000px) {
}

/* Really big (mega) */
@media (min-width: 1200px) {
}
