<footer>
    <div class="container">
        <a class="button button-primary" href="pdf/Maren_Larsen_Resume.pdf" target="_blank" download="Maren_Larsen_Resume.pdf">Download my resume</a>
        <div id="footer-links">
            <div id="contact">
                <ul>
                    <li><a href="https://www.linkedin.com/in/maren-larsen-17818291/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/marenlarsen14"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="mailto:maren@drexel.edu"><i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <nav id="sitemap">
                <ul>
                    <li><a href="/portfolio.html">Portfolio</a></li>
                    <li><a href="/about.html">About Me</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="credits">
        <p>Handcrafted with <i class="fa fa-heart" aria-hidden="true" title="love"></i><span class="sr-only">love</span> in Philadelphia, PA, by <a href="https://katzmeowski.github.io/" target="_blank">Kevin Jablonowski</a>.</p>
    </div>
</footer>
</body>
</html>
