<footer>
    <div class="ui container">
        <button class="ui button" href="pdf/Maren_Larsen_Resume.pdf" target="_blank" download="Maren_Larsen_Resume.pdf">Download my resume</button>
        <div class="ui horizontal relaxed list" id="contact">
            <div class="item">
                <a href="https://www.linkedin.com/in/maren-larsen-17818291/">
                    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            <div class="item">
                <a href="https://twitter.com/marenlarsen14">
                    <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            <div class="item">
                <a href="mailto:maren@drexel.edu">
                    <i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <nav class="ui horizontal relaxed list" id="sitemap">
            <div class="item">
                <a href="/portfolio">Portfolio</a>
            </div>
            <div class="item">
                <a href="/about">About Me</a>
            </div>
        </nav>
        <div id="credits">
            <p>Handcrafted with <i class="fa fa-heart" aria-hidden="true" title="love"></i><span class="sr-only">love</span> in Philadelphia, PA, by <a href="https://katzmeowski.github.io/" target="_blank">Kevin Jablonowski</a></p>
        </div>
    </div>
</footer>
</body>
</html>
