<!DOCTYPE html>
<html lang="en" id="override">
<head>
    <meta charset="utf-8">
    <title>Maren Larsen | Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,800" rel="stylesheet">
    <!-- temporary in-browser Less compiler for development -->
    <script>less = { env: "development" }</script>
    <link rel="stylesheet/less" href="css/custom.less">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js"></script>
    <script>less.watch()</script>
    <!-- <link rel="stylesheet/css" href="css/base.css">
    <link rel="stylesheet/css" href="css/index.css"> -->
    <script src="https://use.fontawesome.com/6c284e63f5.js"></script>
<!--
    <link rel="icon" type="image/png" href="img/favicon.png">
-->
</head>

<body>
    <header>
        <nav class="ui secondary pointing menu">
            <div class="ui container">
                <a href="/" class="active item">Maren Larsen</a>
                <div class="right menu">
                    <a href="/portfolio" class="item">Portfolio</a>
                    <a href="/about" class="item">About Me</a>
                </div>
            </div>
        </nav>
    </header>
