<% include partials/header %>

<div class="hero">
    <div class="ui container">
        <div id="hero-flex">
            <div id="headshot">
                <img src="img/maren_headshot.jpg" alt="Headshot of Maren Larsen">
            </div>
            <div id="hero-text">
                <hgroup id="intro-headings">
                    <h1 class="ui header">Writer.</h1>
                    <h1 class="ui header">Editor.</h1>
                    <h1 class="ui header">Audiophile.</h1>
                </hgroup>
                <button class="ui fluid button" href="pdf/Maren_Larsen_Resume.pdf" target="_blank" download="Maren_Larsen_Resume.pdf">Download my resume</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <section class="features">
        <div>
            <i class="fa fa-graduation-cap fa-3x fa-fw" aria-hidden="true"></i>
            <p>I am a junior at Drexel University pursuing a custom-designed major in Digital Journalism and Cultural Studies.</p>
        </div>
        <div>
            <i class="fa fa-newspaper-o fa-3x fa-fw" aria-hidden="true"></i>
            <p>I am an avid news consumer, music lover, and believer in the power of great writing. I want to spend my life using words to inform, delight, and inspire.</p>
        </div>
        <div>
            <i class="fa fa-tree fa-3x fa-fw" aria-hidden="true"></i>
            <p>I was born in Colorado, but spent much of my childhood in Utah. I love to spend my free time outdoors: hiking, camping: skiing, and climbing.</p>
        </div>
    </section> <!-- end row -->
</div> <!-- end container -->

<% include partials/footer %>