<% include partials/header %>

<div class="container">
    <h1>My work</h1>
    <section class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec enim commodo, sollicitudin turpis eget, suscipit nisl. Curabitur vulputate fermentum maximus. Quisque eleifend dolor nec nulla finibus, a euismod velit molestie.</p>
    </section>
    <section class="catalog">
        <div class="card">
            <a href="#">
                <div class="card-banner">
                    <i class="fa fa-2x fa-pencil" aria-hidden="true"></i>
                </div>
                <div class="card-text">
                    <h2>Panama Papers</h2>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="#">
                <div class="card-banner">
                    <i class="fa fa-2x fa-pencil" aria-hidden="true"></i>
                </div>
                <div class="card-text">
                    <h2>Panama Papers</h2>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="#">
                <div class="card-banner">
                    <i class="fa fa-2x fa-pencil" aria-hidden="true"></i>
                </div>
                <div class="card-text">
                    <h2>Panama Papers</h2>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="#">
                <div class="card-banner">
                    <i class="fa fa-2x fa-pencil" aria-hidden="true"></i>
                </div>
                <div class="card-text">
                    <h2>Panama Papers</h2>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="#">
                <div class="card-banner">
                    <i class="fa fa-2x fa-pencil" aria-hidden="true"></i>
                </div>
                <div class="card-text">
                    <h2>Panama Papers</h2>
                </div>
            </a>
        </div>
    </section>
</div> <!-- end container -->

<% include partials/footer %>